aside{
	position: fixed !important;
	overflow-y: auto; 
	height: 100% !important;
	text-align: center;
}
aside > img{
	opacity: 0.7;
	border-radius: 50%;
}
aside div img{
	opacity: 0.8;
}
#main{
	margin-top: 15px;
}

 @media only screen and (max-width: 40em)
{ 

	aside strong:after{
		content: "F.P.M";
	}
	aside p:after{
		content: " choose the right time to publish !";
	}
}
@media only screen and (min-width: 40.063em) 
{ 

	aside strong:after{
		content: "Facebook Posts Manager";
	}
	aside p:after{
		content: " is an easy tool to create posts, choose the right time to publish !";
	}
}
