#icon{
  opacity: 0.5;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
#icon:hover{
  opacity: 1;
}

.close{
  float: right;
  position: relative;
  bottom: -2px;
  right: 9px;
  width:0.3em;
  height:1.5em;
  background: #CC0000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 22px;
}
@media screen and (-webkit-device-pixel-ratio) {
    .close{
    bottom: 0px;
    }
}
.close:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:0.3em;
  height:1.5em;
  background: #CC0000;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.pencil{
  float: right;
  position: relative;
  right: 15px;
  top: -22px;
  width: 0.35em;
  height: 0.8em;
  background: #3f3e3d;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 1.4em;
}
@media only screen and (min-width: 940px)
{ 
  .pencil{
    top: -4px;
    right: 8px;
  }
}
.pencil:before{
  content: "";
  position: absolute;
  top: -0.35em;
  left: 0;
  width: 0.35em;
  height: 0.3em;
  background: #3f3e3d;
  border-radius: 0.1em;
}
.pencil:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0.85em;
  left: 0;
  border: solid 0.2em #3f3e3d;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: solid 0.45em #3f3e3d;
}

.newspaper {
  float: right;
  position: relative;
  bottom: 3px;
  right: 60px;
  height: 2em;
  width: 1.5em;
  border: 0.2em solid #d2d2d2;
  border-radius: 0 0 0.6em 0;
  font-size: 15px;
  position: relative;
}
.newspaper::before {
  left: -0.7em;
  bottom: -0.19em;
  height: 1.5em;
  width: 0.3em;
  border-radius: 0 0 0.6em 0.6em;
  border: 0.2em solid #d2d2d2;
  content: '';
  display: block;
  position: absolute;
  -webkit-box-shadow: inset -0.05em -0.05em 0.1em 0 rgba(44, 44, 44, 0.39);
  box-shadow: inset -0.05em -0.05em 0.1em 0 rgba(44, 44, 44, 0.39);
}
.newspaper::after {
  -webkit-box-shadow: 0 0.2em 0 0 #d2d2d2,0 0.3em 0 0 #d2d2d2,0 0.3em 0 0 #d2d2d2,0.7em 0em 0 0 #d2d2d2,0.7em 0.3em 0 0 #d2d2d2,0.7em 0.8em 0 0 #d2d2d2,0em 0.8em 0 0 #d2d2d2,0.3em 0.8em 0 0 #d2d2d2,0.3em 1.1em 0 0 #d2d2d2,0em 1.1em 0 0 #d2d2d2,0.7em 1.1em 0 0 #d2d2d2,0.7em 1.4em 0 0 #d2d2d2,0.3em 1.4em 0 0 #d2d2d2,0em 1.4em 0 0 #d2d2d2,-0.4em 1.91em 0 0 #d2d2d2;
  box-shadow: 0 0.2em 0 0 #d2d2d2,0 0.3em 0 0 #d2d2d2,0 0.3em 0 0 #d2d2d2,0.7em 0em 0 0 #d2d2d2,0.7em 0.3em 0 0 #d2d2d2,0.7em 0.8em 0 0 #d2d2d2,0em 0.8em 0 0 #d2d2d2,0.3em 0.8em 0 0 #d2d2d2,0.3em 1.1em 0 0 #d2d2d2,0em 1.1em 0 0 #d2d2d2,0.7em 1.1em 0 0 #d2d2d2,0.7em 1.4em 0 0 #d2d2d2,0.3em 1.4em 0 0 #d2d2d2,0em 1.4em 0 0 #d2d2d2,-0.4em 1.91em 0 0 #d2d2d2;
  left: 0.1em;
  bottom: 1.7em;
  height: 0.2em;
  width: 0.6em;
  background: #d2d2d2;
  content: '';
  display: block;
  position: absolute;
}

.tools {
  float: right;
  margin-left: -0.4em;
  margin-top: -0.3em;
  font-size: 21px;
  background: #2C2C2C;
  height: 0.15em;
  width: 0.15em;
  position: relative;
  top: 15px;
  right: 30px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: 0 0.25em 0 0 #2C2C2C,0 -0.25em 0 0 #2C2C2C,0 -0.55em 0 0.07em #2C2C2C,0 0.55em 0 0.1em #2C2C2C,0 0.9em 0 0.1em #2C2C2C,0 1.2em 0 0.1em #2C2C2C;
  box-shadow: 0 0.25em 0 0 #2C2C2C,0 -0.25em 0 0 #2C2C2C,0 -0.55em 0 0.07em #2C2C2C,0 0.55em 0 0.1em #2C2C2C,0 0.9em 0 0.1em #2C2C2C,0 1.2em 0 0.1em #2C2C2C;
}
.tools::before {
  height: 1.5em;
  width: 0.3em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #2C2C2C;
  position: absolute;
  content: "";
  top: -0.2em;
  left: -0.3em;
}
.tools::after {
  height: 0.3em;
  width: 0.3em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  border-left: 0.2em solid #2C2C2C;
  border-bottom: 0.4em solid #2C2C2C;
  border-right: 0.2em solid #2C2C2C;
  border-top: 0.05em solid transparent;
  content: "";
  top: 0.17em;
  left: 0.55em;
  border-top-right-radius: 25% 25%;
  border-top-left-radius: 25% 25%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
}

.cloud {
  float: right;
  background-color: #2C2C2C;
  background-image: -webkit-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
  background-image: -moz-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
  background-image: -o-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
  background-image: -ms-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
  background-image: linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
  border-radius: 1em;
  height: 1em;
  margin-top: 0.5em;
  position: relative;
  right: 55px;
  top: 6px;
  width: 3em;
}
.cloud:after,.cloud:before {
  background-color: #2C2C2C;
  content: '';
  border-radius: 100%;
  position: absolute;
}
.cloud:after {
  background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
  background-image: -moz-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
  background-image: -o-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
  background-image: -ms-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
  background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
  height: 1em;
  right: .4em;
  top: -.5em;
  width: 1em;
}
.cloud:before {
  background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
  background-image: -moz-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
  background-image: -o-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
  background-image: -ms-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
  background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
  height: 1.6em;
  left: .4em;
  top: -.75em;
  width: 1.6em;
}

.download{
  float: right;
  width: 1.500em;
  height: 0.500em;
  border: 0.250em solid #2c2c2c;
  border-top: none;
  position: absolute;
  bottom: 0.188em;
  position: relative;
  top: 1.5px;
  right: 69px;
  margin-top:1em;
}
.download:before{
  content: '';
  position: absolute;
  width: 0.438em;
  height: 0.625em;
  background: #2c2c2c;
  top: -0.875em;
  left: 0.563em;
}
.download:after{
  width: 0em;
  height: 0em;
  content: '';
  position: absolute;
  border-style: solid;
  border-color: #2c2c2c transparent transparent transparent;
  border-width: 0.500em;
  left: 0.250em;
  top: -0.250em;
}

.histogram{
  float: right;
  position: relative;
  right: 77px;
  height: 3em;
  overflow-y:hidden;
  background:transparent;
  font-size:10px;
}
.histogram:before{
  content: "";
  display: block;
  width: 0;
  height: 3em;
  box-shadow: 1em 2.5em 0 0.3em #2c2c2c, 1.7em 2em 0 0.3em #2c2c2c,2.4em 0.8em 0 0.3em #2c2c2c,3.1em 1.5em 0 0.3em #2c2c2c;
}
.histogram:after{
  content: "";
  display: block;
  position: relative;
  margin-top: 0.9em;
  width: 4em;
  height: 0.1em;
  background: #2c2c2c;
}

