
/*mobile version*/

.responsive-table {
  max-width: 95%;
  color: #3f3e3d;
  overflow: hidden;
}
.responsive-table th {
  display: none;
}
.responsive-table td {
  display: block;
}
.responsive-table td {
  text-align: left;
}
.responsive-table td:first-child {
  padding-top: .5em;
}
.responsive-table td:last-child {
  padding-bottom: .5em;
}
.responsive-table td[data-th]:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

/*web version*/

@media only screen and (min-width: 940px) {

  .responsive-table td[data-th]:before {
    display: none;
  }
  .responsive-table td:first-child {
    padding-top: 1em;
  }
  .responsive-table td:last-child {
    padding-bottom: .25em;
  }
  .responsive-table th, .responsive-table td {
    display: table-cell;
  }
  .responsive-table th {
    text-align: left;
  }
  .responsive-table th, .responsive-table td {
    padding: 1em;
  }

}



