
/* Begin Reset */
body{
	margin: 0px;
	padding: 0px;
	width: 100%;
}
ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
a:link{
	color: #3f3e3d;
	text-decoration: none;
}
a:visited{
	color: #3f3e3d;
	text-decoration: none;
}
/* End Reset */

* {
	font-family: Helvetica, Arial;
	margin: 0px;
	color: #3f3e3d;
}
header{
	border-bottom: solid 1px #d2d2d2;
	width: 100%;
}
div#nav {
	background-color: #FFFFFF;
	display: table;
	width: 100%;
	height: 10%;
	position: absolute;
	top: 0px;
	z-index: 2;
	border-bottom: solid 1px #d2d2d2;
}
#logo{
	display: table-cell;
	position: relative;
	left: 25px;
	top: 5px;
}
@media screen and (-moz-device-pixel-ratio) {
    #logo img{
    	position: relative;
    	left: 12px;
    	top: 5px;
    }
}
#logo h1{
	display: inline;
	position: relative;
	bottom: 20px;
	left:  10px;
}
#nav a{
	vertical-align: middle;
	display: table-cell;
	border-left: solid 1px #d2d2d2;
	text-align: center;
	padding: 5px 0px;
	width: 20%;
	-moz-transition: background-color 0.3s ease-out;
	-webkit-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	-ms-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}
#nav a:first-child{
	border-left: none;
}
#nav a:hover{
	background-color: #d2d2d2;
}
aside{
	background-color: #B20000;
	float: left;
	width: 15%;
	height: 100%;
	position: fixed;
}
aside #tab{
	margin-top: 100px; 
}
aside #tab a{
	display: block;
	background-color: #C13333;
	color: #E8B2B2;
	border-bottom: solid 1px #B20000;
	padding: 5px 0px;
	text-align: left;
	text-indent: 20px;
}
aside #tab img{
	opacity: 0.5;
}
#tab a:hover{
	background-color: #B20000;
	color: #F0CCCC;
}
.wrapper{
	margin-left: 20%;
	margin-top: 10%;
	margin-bottom: 5%;
}
table tr:nth-child(odd){
	background-color: #FFEB99; 
}

@media only screen and (max-width: 939px) { 
	
	header #nav{
		display: none;
	}

}
@media only screen and (min-width: 940px) { 
	
	* [data-content]:after{
		content: attr(data-content);
	}

}
@media only screen and (min-width: 1100px) { 
	
	header h1:after{
		content: "Pharma";
	}

}


